@{
    ViewBag.Title = "Cookie Store Sample";
}

<div ng-controller="CookieStoreSampleController">

    <button class="btn" ng-click="saveEventToCookie(event)">Store Cookie</button>
    <button class="btn" ng-click="getEventFromCookie()">Get Cookie</button>
    <button class="btn" ng-click="removeEventFromCookie()">Remove Cookie</button>

</div>

